.founder-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 667px;
  flex-shrink: 0;
  background: #0f4e71;
}
.founder-des-cont {
  width: 312px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 312px;
  background: #d9d9d9;
}
.founder-des h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 266.3%; /* 66.575px */
  letter-spacing: 0.75px;
}
.founder-des h4 {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 266.3%; /* 39.945px */
  letter-spacing: 0.45px;
}
